:root {
	--main-color: #212426;
	--secondary-color: #f8fcda;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 52px;
	background-color: #fbfdec;
}
hr {
	margin: 2px 0;
 background-color: #12151c;
 border-color: #12151c;
 opacity: 0;
}
.hidden {
	display: none !important;
	visibility: 0;
	opacity: 0;
}
div.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
 flex-wrap: wrap;
}
@media screen and (max-width: 430px) {
 div.wrapper {
  align-items: normal; 
 }
}
div.app {
	display: flex;
	flex-direction: row;
	justify-content: center;
 background-color: var(--main-color);
 color: #fff;
 border-radius: 5px;
 box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7)
}
@media screen and (max-width: 430px) {
 div.app {
  width: 100%;
  align-self: stretch;
 }
}
@media screen and (max-width:690px) {
 div.app {
  flex-direction: column;
 }
}
section {
	display: flex;
	padding: 20px;
 flex-wrap: wrap;
}
section.left {
	background: url('./assets/img/bank-bitcoin-blockchain-1036635.jpg');
	background-size: cover;
	flex-basis: 50%;
	justify-content: center;
	background-color: #0e1016;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
@media screen and (max-width: 430px) {
 section.left {
  justify-content: center; 
 }
}
span.display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
span.viewer {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgba(33, 36, 38, 0.75);
	border-radius: 3px;
 text-align: left;
}
span.welcome {
	background-color: rgba(33, 36, 38, 0.75);
	border-radius: 3px;
	padding: 20px;
 text-align: center;
 font-size: 42px;
}
section.right {
	flex-wrap: wrap;
	flex-basis: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 box-shadow: -1px 1px rgba(0, 0, 0, 0.7);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
div.options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 22px;
	width: 100%;
}
div.option {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 15px;
}
div.option input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.currency-checkbox {
	width: 35px;
	height: 35px;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #eff1ef;
	border-radius: 5px;
}
div.option:hover input ~ .currency-checkbox {
  background-color: #c3c8cb;
}
div.option input:checked ~ .currency-checkbox {
  background-color: var(--secondary-color);
  border: 1px solid #ccd392;
}
span.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	background-color: #f8fcda;
	border: 1px solid #c2cc75;
	color: var(--main-color);
	border-radius: 4px;
	padding: 3px;
	height: 55px;
	width: 60%;
}
span.btn:hover, div.option label:hover {
	cursor: pointer;
}
img.sign {
	width: 50px;
	height: 50px;
	filter: contrast(0) brightness(100);
	margin: auto;
}
@media screen and (max-width: 430px) {
 img.sign {
 	width: 30px;
		height: 30px;
 }
}
div.sign-wrapper {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: var(--main-color);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px; 
}
span.amount {
	margin: 0 20px;
}
@media screen and (max-width: 430px) {
 span.amount {
 	font-size: 80%;
 }
}
